In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
st = pd.read_csv('data/stream_data.csv')

In [3]:
bt = pd.read_csv('data/batch_data.csv')

In [4]:
stmin = st.timestamp.min()
btmax = bt.timestamp.max()

In [5]:
btmax, stmin

('2024-11-30 23:59:00', '2024-12-01 00:00:00')

In [6]:
def get_diff(time):
    # Parse the time string into a datetime object
    original_time = datetime.strptime(time, '%Y-%m-%d %H:%M:%S')

    checkpoint = '2024-11-30 23:59:00'
    # Get the current time
    current_time = datetime.strptime(checkpoint, '%Y-%m-%d %H:%M:%S')

    diff = current_time - original_time
    return diff

In [7]:
diff_bt = get_diff(btmax)
diff_st = get_diff(stmin)

In [8]:
def shift_time(time, diff, tag='bt'):
    # Parse the time string into a datetime object
    original_time = datetime.strptime(time, '%Y-%m-%d %H:%M:%S')
    
    updated_time = original_time + diff
    if tag != 'bt':
        updated_time += timedelta(minutes=1)

    updated_time_string = updated_time.strftime('%Y-%m-%d %H:%M:%S')
    return updated_time_string

In [9]:
bt['timestamp'] = bt['timestamp'].map(lambda time: shift_time(time, diff_bt, tag='bt'))

In [10]:
st['timestamp'] = st['timestamp'].map(lambda time: shift_time(time, diff_st, tag='st'))

In [11]:
# bt.to_csv('data/batch_data.csv', index=False)
# st.to_csv('data/stream_data.csv', index=False)

In [12]:
bt

                 timestamp      open      high       low     close     volume
0      2024-11-01 00:00:00  27991.84  27991.84  27981.53  27983.27   16.04929
1      2024-11-01 00:01:00  27983.28  27983.28  27954.07  27954.07   37.46222
2      2024-11-01 00:02:00  27954.08  27955.45  27922.92  27929.57   25.89664
3      2024-11-01 00:03:00  27930.08  27943.82  27878.60  27894.39  239.28080
4      2024-11-01 00:04:00  27894.42  27920.00  27891.06  27919.53   55.03403
...                    ...       ...       ...       ...       ...        ...
43195  2024-11-30 23:55:00  29612.04  29622.90  29598.22  29607.77   48.64359
43196  2024-11-30 23:56:00  29607.78  29610.09  29606.36  29610.08    4.51003
43197  2024-11-30 23:57:00  29610.09  29630.84  29608.87  29627.81   13.69622
43198  2024-11-30 23:58:00  29627.81  29639.54  29611.49  29611.50   23.02537
43199  2024-11-30 23:59:00  29611.49  29625.83  29584.92  29584.92   35.57050

[43200 rows x 6 columns]

In [13]:
st

                  timestamp      open      high       low     close    volume
0       2024-12-01 00:00:00  29584.92  29587.77  29575.44  29577.73  26.78170
1       2024-12-01 00:01:00  29577.73  29580.85  29565.24  29569.94  44.94119
2       2024-12-01 00:02:00  29569.94  29569.96  29539.59  29549.03  60.39912
3       2024-12-01 00:03:00  29549.03  29550.71  29527.00  29539.16  77.06884
4       2024-12-01 00:04:00  29539.16  29556.71  29539.16  29548.34  33.71610
...                     ...       ...       ...       ...       ...       ...
125995  2025-02-26 11:55:00  28896.00  28907.42  28893.03  28907.41  37.74657
125996  2025-02-26 11:56:00  28907.41  28912.74  28907.41  28908.53  15.89610
125997  2025-02-26 11:57:00  28908.52  28908.53  28902.48  28902.49  11.52263
125998  2025-02-26 11:58:00  28902.48  28902.49  28902.48  28902.49   4.77589
125999  2025-02-26 11:59:00  28902.48  28902.49  28902.48  28902.49   4.68658

[126000 rows x 6 columns]

In [25]:
raw = st.iloc[:2].to_dict()

In [26]:
raw

{'timestamp': {0: '2024-12-01 00:00:00', 1: '2024-12-01 00:01:00'},
 'open': {0: 29584.92, 1: 29577.73},
 'high': {0: 29587.77, 1: 29580.85},
 'low': {0: 29575.44, 1: 29565.24},
 'close': {0: 29577.73, 1: 29569.94},
 'volume': {0: 26.7817, 1: 44.94119}}

In [27]:
# Prepare the header (column names) and rows (data)
header = list(raw.keys())
rows = [ [raw[col][i] for col in header] for i in range(len(raw['timestamp'])) ]

In [28]:
header

['timestamp', 'open', 'high', 'low', 'close', 'volume']

In [29]:
rows

[['2024-12-01 00:00:00', 29584.92, 29587.77, 29575.44, 29577.73, 26.7817],
 ['2024-12-01 00:01:00', 29577.73, 29580.85, 29565.24, 29569.94, 44.94119]]

In [30]:

# Write to CSV
with open('output.csv', mode='w') as file:    
    # Write the header
    file.write(f'{",".join(map(str, header))}')
    
    # Write the rows
    for row in rows:
        file.write(f"{','.join(map(str, row))}\n")

print("Data has been written to 'output.csv'")

Data has been written to 'output.csv'

In [12]:
data = {'timestamp': {'0': '2024-12-01 00:00:00', '1': '2024-12-01 00:01:00'},
 'open': {'0': 29584.92, '1': 29577.73},
 'high': {'0': 29587.77, '1': 29580.85},
 'low': {'0': 29575.44, '1': 29565.24},
 'close': {'0': 29577.73, '1': 29569.94},
 'volume': {'0': 26.7817, '1': 44.94119}}

In [13]:
def prepare_data(data):
    # Normalize into a list of dictionaries
    normalized_data = [
        {key: value[str(idx)] for key, value in data.items()}
        for idx in range(len(next(iter(data.values()))))
    ]
    return normalized_data

In [14]:
prepare_data(data)

[{'timestamp': '2024-12-01 00:00:00',
  'open': 29584.92,
  'high': 29587.77,
  'low': 29575.44,
  'close': 29577.73,
  'volume': 26.7817},
 {'timestamp': '2024-12-01 00:01:00',
  'open': 29577.73,
  'high': 29580.85,
  'low': 29565.24,
  'close': 29569.94,
  'volume': 44.94119}]